%header.navbar.navbar-fixed_top.navbar-inverse
  %div.container
    = link_to 'Google', 'http://www.google.com'
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Yahoo!', 'http://www.yahoo.com'

